*{
    margin: 0;
    padding: 0;
}


.container{
    background-color:rgb(240, 248, 121);
    display: flex;   
    flex-direction: row;
     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 2px;   
}

.card{
    width: 68%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(212, 211, 211);
    box-shadow: 4px 4px 4px 4px rgb(213, 216, 57);
    border-radius: 25px;
    background-color: white;
    position: relative;
}
div img{
    max-width: 200px;
   cursor: pointer;
}
.imageItem{
    margin-bottom: 10px;
    width:280px;
    text-align: center;   
}
.item_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    font-size:20px ;
    color: rgb(150, 149, 149);
    text-align: center;
}
.fd{
color: rgb(54, 54, 54);
margin-top: 10px;
background-color: antiquewhite;
padding: 3px 8px;
border-radius: 10px;
}
.above-ss{
    width: 100%;
    display: flex;
   align-items:center;
   justify-content: space-between;
   margin-top: 20px;
  
}
.pricing{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.price{
    font-size: 25px;
    font-weight:bold;
}
.rate{
    background-color: chocolate;
    padding: 2px 4px;
    border-radius: 15px;
    color: white;    
}
.cnt{
    /* margin-top: 8px; */
    color: rgb(167, 166, 166);
}
.cartImg{
    margin-right: auto;
    margin-top: 10px;
}

/* Media Query */
@media screen and (max-width:250px) {
    *{
        margin: 0;
        padding: 0;
    }
    div img{
       width: 100px;
    }
    .imageItem{
        width: 100px;
    }
}

@media (min-width:600px) {
    .card{
        width: 250px;
    }
    
}
